<p>Inicio</p>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Centro de Estudios y Servicios en Salud
        <small>Universidad Veracruzana</small>
      </h1>
      
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol> -->
    </section>

    <section class="content "> 
        <!-- START ACCORDION & CAROUSEL--> 
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                        <img src="../assets/imagen/slider-01.jpg" alt="Bienvenido">

                        <div class="carousel-caption">
                            CESS
                        </div>
                        </div>
                        <div class="item">
                        <img src="../assets/imagen/slider-02.jpg" alt="Bienvenido">

                        <div class="carousel-caption">
                            UV
                        </div>
                        </div>
                        <div class="item">
                        <img src="../assets/imagen/slider-04.png" alt="Bienvenido">

                        <div class="carousel-caption">
                            Odontologáa
                        </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                    </div>
                </div>
                <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
            
      <!-- /.col -->
      <div class="row">
      <div class="col-md-8">
        <div class="box box-solid">
            <div class="box-header with-border">
            <h3 class="box-title">Módulo Odontológico</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="box-group" id="accordion">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        La Odontología
                    </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="box-body">
                        La odontología es la especialidad médica que se dedica al estudio de los dientes y las encías y al tratamiento de sus dolencias. Esta disciplina se encarga de todo lo referente al aparato estomatognático, formado por el conjunto de órganos y tejidos que se encuentran en la cavidad oral y en parte del cráneo, la cara y el cuello.
                    </div>
                </div>
                </div>
                <div class="panel box box-danger">
                <div class="box-header with-border">
                    <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Odontología en el CESS
                    </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="box-body">
                        En 1994 se anexa oficialmente los servicios odontológicos proporcionados en el CESS, los cuales tienen como objetivo la atención buco dental de la población, desde el diagnóstico de salud y métodos preventivos, hasta la rehabilitación integral que requiera el paciente, contando con servicios conservadores, restaurativos y de cirugía. Estos servicios estarán siempre a cargo de un Cirujano Dentista
                    </div>
                </div>
                </div>
            </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        </div>
    



        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
            <div class="inner">
                <h3>44</h3>

                <p>Pacientes Atendidos</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a class="small-box-footer">CESS <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </div>

    </div>
        <!-- /.col -->


    </section>
              <!-- /.content -->
</div>
        
        










            
