<p>formulario2</p>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Centro de Estudios y Servicios en Salud
        <small>Universidad Veracruzana</small>
      </h1>
      
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol> -->
    </section>

    <section class="content "> 
        <form action="" #formu2="ngForm" (ngSubmit)="onSubmit(formu2)">


            <!-- <div class="box box-info">
                <div class="row">
          
                    <div class="box-header with-border">
                        <div class=" col-md-10">
                        <h5><b>DATOS PERSONALES</b></h5>
                    </div>
                    </div>
          
                    <div class="col-md-4">
                        <label>Fecha: </label>
                        <input type="date" class="form-control" placeholder="DD/MM/AAAA" name="fech" #fechm="ngModel" [(ngModel)]="form2.fecha">
                      </div>
                    <div class="col-md-8">
                        <label>Nombre: </label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="nombr" #nombrm="ngModel" [(ngModel)]="form2.nombre">
                      </div>
                    
                      <div class="col-md-4">
                        <label>Edad </label>
                        <input type="text" class="form-control" placeholder="Escriba ..." name="eddad" #edad="ngModel" [(ngModel)]="form2.edad">
                      </div>
          
                      <div class="col-md-4">
                        <label>Sexo</label>
                        <div class="form-group">
                          <select class="form-control" name="sexo" #sex="ngModel" [(ngModel)]="form2.sexo">
                            <option>Elija una opción</option>
                            <option >Hombre</option>
                            <option >Mujer</option>
                          </select>
                        </div>
            
                    </div>
                    
                    
                    <div class="col-md-4">
                      <label>Teléfono: </label>
                      <input type="text" class="form-control" placeholder="Ingrese número a 10 digitos..." name="celul" #celum="ngModel" [(ngModel)]="form2.celular">
                    </div>
          
                    <div class="col-md-8">
                
                        <label>Tipo de población</label>
                        <div class="form-group">
                          <select class="form-control" name="poblacion1" #pobla="ngModel" [(ngModel)]="form2.poblacion">
                            <option>Elija una opción</option>
                            <option >Universidad Veracruzana</option>
                            <option >Público Abierto</option>
                          </select>
                          <label>En caso de ser miembro UV, favor de escribir su facultad</label>
                          <input type="text" class="form-control" placeholder="Escriba nombre de su Facultad..." name="poblacio1" #poblacion11="ngModel" [(ngModel)]="form2.poblacion1">
                
                        </div>
            
                    </div>
          
                </div>
              </div> -->
          
          
              <div class="box box-primary">
                <div class="row">
          
                    <div class="box-header with-border">
                        <div class=" col-md-10">
                        <h5><b>INTERROGATORIO</b></h5>
                    </div>
                    </div>
          
                    
                    <div class="col-md-10">
                        <label>1.- ¿Qué enfermedades ha padecido durante el último año?</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="ipregunta1" #pregu1="ngModel" [(ngModel)]="form2.Iask1">
                      </div>
                    
                      <div class="col-md-10">
                        <label>2.- Cuando ha acudido a la consulta, ¿su médico le ha diagnosticado alguna enfermedad? </label>
                        <input type="text" class="form-control" placeholder="Escriba ..." name="ipregunta2" #pregu2="ngModel" [(ngModel)]="form2.Iask2">
                      </div>
          
                      <div class="col-md-10">
                        <label>3.- ¿Es usted alérgico a la penicilina?</label>
                        <div class="form-group">
                          <select class="form-control" name="ipregunta3" #pregu3="ngModel" [(ngModel)]="form2.Iask3">
                            <option>Elija una opción</option>
                            <option >Sí</option>
                            <option >No</option>
                          </select>
                          <label>Otros medicamentos:</label>
                          <select class="form-control" name="ipregunta31" #pregu31="ngModel" [(ngModel)]="form2.Iask31">
                            <option>Elija una opción</option>
                            <option >Sí</option>
                            <option >No</option>
                          </select>
                          <label>¿Cuáles?</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="ask32" #preg32="ngModel" [(ngModel)]="form2.Iask32">
                
                        </div>
            
                       </div>
          
                       <div class="col-md-10">
                        <label>4.- ¿Lo han anestesiado anteriormente?</label>
                        <div class="form-group">
                          <select class="form-control" name="pregunta4" #iask4="ngModel" [(ngModel)]="form2.Iask4">
                            <option>Elija una opción</option>
                            <option >Sí</option>
                            <option >No</option>
                          </select>
                          <label>¿Presentó algún problema cuando se lo aplicaron?</label>
                          <select class="form-control" name="pregunta41" #iask41="ngModel" [(ngModel)]="form2.Iask41">
                            <option>Elija una opción</option>
                            <option >Sí</option>
                            <option >No</option>
                          </select>
                          <label>¿Qué le ocurrió?</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="ipregunta42" #iask42="ngModel" [(ngModel)]="form2.Iask42">
                
                        </div>
            
                       </div>
          
                       <div class="col-md-10">
                        <label>5.- ¿Presenta sangrado excesivo?</label>
                        <div class="form-group">
                          <select class="form-control" name="ipregu5" #ipreg5="ngModel" [(ngModel)]="form2.Iask5">
                            <option>Elija una opción</option>
                            <option >Sí</option>
                            <option >No</option>
                          </select>
                          <label>Hermorragia frecuente:</label>
                          <select class="form-control" name="pregunta51" #ipreg51="ngModel" [(ngModel)]="form2.Iask51">
                            <option>Elija una opción</option>
                            <option >Sí</option>
                            <option >No</option>
                          </select>
              
                        </div>
            
                       </div>
          
                       <div class="col-md-10">
                        <label>6.- ¿Usa algún medicamento anticoagulante?</label>
                        <div class="form-group">
                          <select class="form-control" name="pregunta6" #ipreg6="ngModel" [(ngModel)]="form2.Iask6">
                            <option>Elija una opción</option>
                            <option >Sí</option>
                            <option >No</option>
                          </select>
                          <label>Tranquilizantes</label>
                          <select class="form-control" name="pregunta61" #ipreg61="ngModel" [(ngModel)]="form2.Iask61">
                            <option>Elija una opción</option>
                            <option >Sí</option>
                            <option >No</option>
                          </select>
                          <label>Otros</label>
                          <select class="form-control" name="pregunta62" #ipreg62="ngModel" [(ngModel)]="form2.Iask62">
                            <option>Elija una opción</option>
                            <option >Sí</option>
                            <option >No</option>
                          </select>
                          <label>¿Cuáles?</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="ipregunta63" #preg63="ngModel" [(ngModel)]="form2.Iask63">
                
                        </div>
            
                       </div>
          
                       <div class="col-md-10">
                        <label>7.- ¿Algún familiar suyo padece Diabetes?</label>
                        <div class="form-group">
                          <select class="form-control" name="pregunta7" #ipreg7="ngModel" [(ngModel)]="form2.Iask7">
                            <option>Elija una opción</option>
                            <option >Sí</option>
                            <option >No</option>
                          </select>
                          <label>Parentesco:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="ipregunta71" #preg71="ngModel" [(ngModel)]="form2.Iask71">
                
                        </div>
            
                       </div>
                    
          
                </div>
              </div>
          
          
              <div class="box box-primary">
                <div class="row">
          
                    <div class="box-header with-border">
                        <div class=" col-md-10">
                        <h4><b>EXPLORACIÓN</b></h4>
                    </div>
                    </div>
          
                    <div class="box-header with-border">
                      <div class=" col-md-10">
                      <h5><b>Examen facial y tejidos blandos</b></h5>
                  </div>
                  </div>
          
                    
                    <div class="col-md-6">
                        <label>Cara:</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="cara1" #caraa="ngModel" [(ngModel)]="form2.cara">
                      </div>
            
                      <div class="col-md-6">
                        <label>P.Blando:</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="blando" #bland="ngModel" [(ngModel)]="form2.blando">
                      </div>
          
                      <div class="col-md-6">
                        <label>Labios:</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="labio" #labio1="ngModel" [(ngModel)]="form2.labios">
                      </div>
          
                      <div class="col-md-6">
                        <label>P.Duro:</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="duro" #durom="ngModel" [(ngModel)]="form2.duro">
                      </div>
          
                      <div class="col-md-6">
                        <label>Piso de boca:</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="pboca" #bocam="ngModel" [(ngModel)]="form2.boca">
                      </div>
          
                      <div class="col-md-6">
                        <label>G.Salivales:</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="salivales" #salivalem="ngModel" [(ngModel)]="form2.salivales">
                      </div>
          
                      <div class="col-md-6">
                        <label>Cuello:</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="cuelloo" #cuellom="ngModel" [(ngModel)]="form2.cuello">
                      </div>
          
                      <div class="col-md-6">
                        <label>Carrillos:</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="carillo" #carrillom="ngModel" [(ngModel)]="form2.carrillos">
                      </div>
          
                      <div class="col-md-6">
                        <label>Lengua:</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="lenguaa" #lenguam="ngModel" [(ngModel)]="form2.lengua">
                      </div>
          
                      <div class="col-md-6">
                        <label>Amigdalas:</label>
                        <input type="text" class="form-control" placeholder="Escriba..." name="amigda" #amigdam="ngModel" [(ngModel)]="form2.amigdalas">
                      </div>
          
                       </div>
          
                </div>


                <div class="box box-primary">
                  <div class="row">
            
                      <div class="box-header with-border">
                          <div class=" col-md-10">
                          <h4><b>Odontograma</b></h4>
                      </div>
                      </div>
            
                      <div class="box-header with-border">
                        <div class=" col-md-12 alert alert-info">
                        <h5><b>DDS: Diente Derecho Superior | DIS: Diente Izquierdo Superior | DDI: Diente Derecho Inferior | DII: Diente Izquierdo Inferior</b></h5>
                    </div>
                    </div>

                      <div class="col-md-12">
                    <img src="../assets/imagen/OdontogramaDDS.jpg">
                      </div>
                      <br><br>
            
                      
                      <div class="col-md-3">
                          <label>DDS18:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="cara1" #caraa="ngModel" [(ngModel)]="form2.cara">
                        </div>
              
                        <div class="col-md-3">
                          <label>DDS17:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="blando" #bland="ngModel" [(ngModel)]="form2.blando">
                        </div>
            
                        <div class="col-md-3">
                          <label>DDS16:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="labio" #labio1="ngModel" [(ngModel)]="form2.labios">
                        </div>
            
                        <div class="col-md-3">
                          <label>DDS15:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="duro" #durom="ngModel" [(ngModel)]="form2.duro">
                        </div>
            
                        <div class="col-md-3">
                          <label>DDS14:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="pboca" #bocam="ngModel" [(ngModel)]="form2.boca">
                        </div>
            
                        <div class="col-md-3">
                          <label>DDS13:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="salivales" #salivalem="ngModel" [(ngModel)]="form2.salivales">
                        </div>
            
                        <div class="col-md-3">
                          <label>DDS12:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="cuelloo" #cuellom="ngModel" [(ngModel)]="form2.cuello">
                        </div>
            
                        <div class="col-md-3">
                          <label>DDS11:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="carillo" #carrillom="ngModel" [(ngModel)]="form2.carrillos">
                        </div>
            
                        <div class="col-md-3">
                          <label>DDS55:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="lenguaa" #lenguam="ngModel" [(ngModel)]="form2.lengua">
                        </div>
            
                        <div class="col-md-3">
                          <label>DDS54:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="amigda" #amigdam="ngModel" [(ngModel)]="form2.amigdalas">
                        </div>

                        <div class="col-md-3">
                          <label>DDS53:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="cuelloo" #cuellom="ngModel" [(ngModel)]="form2.cuello">
                        </div>
            
                        <div class="col-md-3">
                          <label>DDS52:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="carillo" #carrillom="ngModel" [(ngModel)]="form2.carrillos">
                        </div>
            
                        <div class="col-md-3">
                          <label>DDS51:</label>
                          <input type="text" class="form-control" placeholder="Escriba..." name="lenguaa" #lenguam="ngModel" [(ngModel)]="form2.lengua">
                        </div>



                        <div class="col-md-12">
                          <img src="../assets/imagen/OdontogramaDDI.jpg">
                            </div>
                            <br><br>
                  
                            
                            <div class="col-md-3">
                                <label>DDI48:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="cara1" #caraa="ngModel" [(ngModel)]="form2.cara">
                              </div>
                    
                              <div class="col-md-3">
                                <label>DDI47:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="blando" #bland="ngModel" [(ngModel)]="form2.blando">
                              </div>
                  
                              <div class="col-md-3">
                                <label>DDI46:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="labio" #labio1="ngModel" [(ngModel)]="form2.labios">
                              </div>
                  
                              <div class="col-md-3">
                                <label>DDI45:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="duro" #durom="ngModel" [(ngModel)]="form2.duro">
                              </div>
                  
                              <div class="col-md-3">
                                <label>DDI44:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="pboca" #bocam="ngModel" [(ngModel)]="form2.boca">
                              </div>
                  
                              <div class="col-md-3">
                                <label>DDI43:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="salivales" #salivalem="ngModel" [(ngModel)]="form2.salivales">
                              </div>
                  
                              <div class="col-md-3">
                                <label>DDI42:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="cuelloo" #cuellom="ngModel" [(ngModel)]="form2.cuello">
                              </div>
                  
                              <div class="col-md-3">
                                <label>DDI41:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="carillo" #carrillom="ngModel" [(ngModel)]="form2.carrillos">
                              </div>
                  
                              <div class="col-md-3">
                                <label>DDI85:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="lenguaa" #lenguam="ngModel" [(ngModel)]="form2.lengua">
                              </div>
                  
                              <div class="col-md-3">
                                <label>DDI84:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="amigda" #amigdam="ngModel" [(ngModel)]="form2.amigdalas">
                              </div>
      
                              <div class="col-md-3">
                                <label>DDI83:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="cuelloo" #cuellom="ngModel" [(ngModel)]="form2.cuello">
                              </div>
                  
                              <div class="col-md-3">
                                <label>DDI82:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="carillo" #carrillom="ngModel" [(ngModel)]="form2.carrillos">
                              </div>
                  
                              <div class="col-md-3">
                                <label>DDI81:</label>
                                <input type="text" class="form-control" placeholder="Escriba..." name="lenguaa" #lenguam="ngModel" [(ngModel)]="form2.lengua">
                              </div>

                              <div class="col-md-12">
                                <img src="../assets/imagen/OdontogramaDIS.jpg">
                                  </div>
                                  <br><br>
                        
                                  
                                  <div class="col-md-3">
                                      <label>DIS28:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="cara1" #caraa="ngModel" [(ngModel)]="form2.cara">
                                    </div>
                          
                                    <div class="col-md-3">
                                      <label>DIS27:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="blando" #bland="ngModel" [(ngModel)]="form2.blando">
                                    </div>
                        
                                    <div class="col-md-3">
                                      <label>DIS26:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="labio" #labio1="ngModel" [(ngModel)]="form2.labios">
                                    </div>
                        
                                    <div class="col-md-3">
                                      <label>DIS25:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="duro" #durom="ngModel" [(ngModel)]="form2.duro">
                                    </div>
                        
                                    <div class="col-md-3">
                                      <label>DIS24:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="pboca" #bocam="ngModel" [(ngModel)]="form2.boca">
                                    </div>
                        
                                    <div class="col-md-3">
                                      <label>DIS23:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="salivales" #salivalem="ngModel" [(ngModel)]="form2.salivales">
                                    </div>
                        
                                    <div class="col-md-3">
                                      <label>DIS22:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="cuelloo" #cuellom="ngModel" [(ngModel)]="form2.cuello">
                                    </div>
                        
                                    <div class="col-md-3">
                                      <label>DIS21:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="carillo" #carrillom="ngModel" [(ngModel)]="form2.carrillos">
                                    </div>
                        
                                    <div class="col-md-3">
                                      <label>DIS65:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="lenguaa" #lenguam="ngModel" [(ngModel)]="form2.lengua">
                                    </div>
                        
                                    <div class="col-md-3">
                                      <label>DIS64:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="amigda" #amigdam="ngModel" [(ngModel)]="form2.amigdalas">
                                    </div>
            
                                    <div class="col-md-3">
                                      <label>DIS63:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="cuelloo" #cuellom="ngModel" [(ngModel)]="form2.cuello">
                                    </div>
                        
                                    <div class="col-md-3">
                                      <label>DIS62:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="carillo" #carrillom="ngModel" [(ngModel)]="form2.carrillos">
                                    </div>
                        
                                    <div class="col-md-3">
                                      <label>DIS61:</label>
                                      <input type="text" class="form-control" placeholder="Escriba..." name="lenguaa" #lenguam="ngModel" [(ngModel)]="form2.lengua">
                                    </div>

                                    <div class="col-md-12">
                                      <img src="../assets/imagen/OdontogramaDII.jpg">
                                        </div>
                                        <br><br>
                              
                                        
                                        <div class="col-md-3">
                                            <label>DIS38:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="cara1" #caraa="ngModel" [(ngModel)]="form2.cara">
                                          </div>
                                
                                          <div class="col-md-3">
                                            <label>DIS37:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="blando" #bland="ngModel" [(ngModel)]="form2.blando">
                                          </div>
                              
                                          <div class="col-md-3">
                                            <label>DIS36:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="labio" #labio1="ngModel" [(ngModel)]="form2.labios">
                                          </div>
                              
                                          <div class="col-md-3">
                                            <label>DIS35:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="duro" #durom="ngModel" [(ngModel)]="form2.duro">
                                          </div>
                              
                                          <div class="col-md-3">
                                            <label>DIS34:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="pboca" #bocam="ngModel" [(ngModel)]="form2.boca">
                                          </div>
                              
                                          <div class="col-md-3">
                                            <label>DIS33:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="salivales" #salivalem="ngModel" [(ngModel)]="form2.salivales">
                                          </div>
                              
                                          <div class="col-md-3">
                                            <label>DIS32:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="cuelloo" #cuellom="ngModel" [(ngModel)]="form2.cuello">
                                          </div>
                              
                                          <div class="col-md-3">
                                            <label>DIS31:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="carillo" #carrillom="ngModel" [(ngModel)]="form2.carrillos">
                                          </div>
                              
                                          <div class="col-md-3">
                                            <label>DIS75:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="lenguaa" #lenguam="ngModel" [(ngModel)]="form2.lengua">
                                          </div>
                              
                                          <div class="col-md-3">
                                            <label>DIS74:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="amigda" #amigdam="ngModel" [(ngModel)]="form2.amigdalas">
                                          </div>
                  
                                          <div class="col-md-3">
                                            <label>DIS73:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="cuelloo" #cuellom="ngModel" [(ngModel)]="form2.cuello">
                                          </div>
                              
                                          <div class="col-md-3">
                                            <label>DIS72:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="carillo" #carrillom="ngModel" [(ngModel)]="form2.carrillos">
                                          </div>
                              
                                          <div class="col-md-3">
                                            <label>DIS71:</label>
                                            <input type="text" class="form-control" placeholder="Escriba..." name="lenguaa" #lenguam="ngModel" [(ngModel)]="form2.lengua">
                                          </div>
            
                         </div>
            
                  </div> 
          


                <button type="submit">Guardar</button>

        </form>
       
          
    </section>
              <!-- /.content -->
</div>
        
        










            