
    <body background="../assets/imagen/fondo-trans-1.png" bgcolor="FFCECB">
    <div class="login-box">
      <div class="login-logo">
        <a href="src/assets/dist/img/square/logocess.jpg"><b>CESS</b>Odontologia</a>
      </div>
      <div align="center">
        <img src="../assets/imagen/cess.png" width="200" height="200">
      </div>
      <div>
        <p>
          <br>
        </p>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body" style="border:1px solid blue">
        <p class="login-box-msg">Inicie sesión</p>

        <form action="../../index2.html" method="post" #login1="ngForm" (ngSubmit)="onSubmit(login1)">
          <div class="form-group has-feedback">
            <input type="se" class="form-control" placeholder="Usuario" name="numid" #numid1="ngModel" [(ngModel)]="login.numid">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Contraseña" name="pssw" #psswd1="ngModel" [(ngModel)]="login.psswd">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <!-- <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Recuérdame
                </label>
              </div>
            </div> -->
            <!-- /.col -->
            <div class="col-xs-5">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Iniciar sesión</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
    
        
    
        <!-- <a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a> -->
    
      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
  </body>
