<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
    
      <header class="main-header">
        
        <!-- Logo -->
        <a [routerLink]="['/doctorpanel/home']" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <!-- <span class="logo-mini"><b>CESS</b></span> -->
          <div class="logo-mini">
            <img src="../assets/imagen/odontomini.png" width="40" height="40">
            </div>
            
          <!-- logo for regular state and mobile devices -->
          <!-- <span class="logo-lg"><b>Odonto</b>CESS</span> -->
          <div class="logo-lg">
            <img src="../assets/imagen/odontolg2.png" width="200" height="40">
            </div>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              
              <!-- /.messages-menu -->
    
              <!-- Notifications Menu -->
              
              <!-- Tasks Menu -->
              
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="../assets/imagen/cess.png"  class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{{identity.name}} {{identity.surname}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="../assets/imagen/cess.png" class="img-circle" alt="User Image">
    
                    <p>
                      Le atiende: C.D {{identity.name}} {{identity.surname}}
                      <small>Centro de Estudios y Servicios en Salud</small>
                      <small>Universidad Veracruzana</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="row">
                      <div class="col-xs-4 text-center">
                        <a [routerLink]="['/doctorpanel/home']">Inicio</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a [routerLink]="['/doctorpanel/busqueda']">Busqueda</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a [routerLink]="['/doctorpanel/controlpagos']">Pagos</a>
                      </div>
                    </div>
                    <!-- /.row -->
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-right">
                      <a [routerLink]="['/salir/1']" class="btn btn-default btn-flat">Cerrar Sesión</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
 <router-outlet></router-outlet>
 
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Versión</b> 1.0
    </div>
    <strong>Copyright &copy; 2020 <a href="https://www.uv.mx/cess/">Centro de Estudios y Servicios en Salud</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <!-- <div class="user-panel"> -->
        <!-- <div class="pull-left image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div> -->
        <!-- <div class="pull-left info">
          <p>Doctor en Turno:</p> -->
           <!-- Status -->
         <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
<!-- 
      </div>
      </div> -->
      

      <!-- search form (Optional) -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form> -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">CESS {{identity.name}} {{identity.surname}}</li>
        <!-- Optionally, you can add icons to the links [routerLink]="['/inicio']"-->
        <li class="nav-item"><a [routerLink]="['/doctorpanel/home']"><i class="fa fa-h-square"></i> <span>Inicio</span></a></li>
        <li><a [routerLink]="['/doctorpanel/formulario3']"><i class="fa fa-user-circle"></i> <span>Registro Pacientes</span></a></li>
        <li><a [routerLink]="['/doctorpanel/busqueda']"><i class="fa fa-address-book"></i> <span>Búsquedas</span></a></li>
        <li><a [routerLink]="['/doctorpanel/formulario2']"><i class="fa fa-stethoscope"></i> <span>Interrogación/Exploracion</span></a></li>
        <li><a [routerLink]="['/doctorpanel/odontograma']"><i class="fa fa-credit-card"></i> <span>Odontograma</span></a></li>
        <li><a [routerLink]="['/doctorpanel/ihos']"><i class="fa fa-table"></i> <span>ÍndiceIHOS Inicial</span></a></li>
        <li><a [routerLink]="['/doctorpanel/formularioatm']"><i class="fa fa-heart"></i> <span>Examen Físico de ATM</span></a></li>
        <li><a [routerLink]="['/doctorpanel/plantratamiento']"><i class="fa fa-medkit"></i> <span>Plan de Tratamiento</span></a></li>
        <li><a [routerLink]="['/doctorpanel/placadb']"><i class="fa fa-table"></i> <span>% PlacaDB Anterior</span></a></li>
        <li><a [routerLink]="['/doctorpanel/formulario1']"><i class="fa fa-address-card"></i> <span>Health History</span></a></li>
        <li><a [routerLink]="['/doctorpanel/ihost']"><i class="fa fa-table"></i> <span>ÍndiceIHOS Terminal</span></a></li>
        <li class="treeview">
          <a href="#"><i class="fa fa-table"></i> <span>% PlacaDB Actual</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/doctorpanel/placadbt']"><i class="fa fa-table"></i>%Placa Sesion 2</a></li>
            <li><a href="#"><i class="fa fa-table"></i>%Placa Sesion 3</a></li>
            <li><a href="#"><i class="fa fa-table"></i>%Placa Sesion 4</a></li>
            <li><a href="#"><i class="fa fa-table"></i>%Placa Sesion 5</a></li>
            <li><a href="#"><i class="fa fa-table"></i>%Placa Sesion 6</a></li>
            <li><a href="#"><i class="fa fa-table"></i>%Placa Sesion Final</a></li>
          </ul>
        </li>
        <!-- <li><a [routerLink]="['/doctorpanel/placadbt']"><i class="fa fa-table"></i> <span>% PlacaDB Actual</span></a></li> -->
        <li><a [routerLink]="['/doctorpanel/notas']"><i class="fa fa-pencil"></i> <span>Notas de Evolucion</span></a></li>
        <li><a [routerLink]="['/doctorpanel/controlplaca']"><i class="fa fa-th-large"></i> <span>Control de Placa</span></a></li>
        <li><a [routerLink]="['/doctorpanel/controlpagos']"><i class="fa fa-credit-card"></i> <span>Control de Pagos</span></a></li>
        
        <!-- <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
</body>