<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Centro de Estudios y Servicios en Salud
        <small>Universidad Veracruzana</small>
      </h1>
      
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol> -->
    </section>

   <section class="content "> 
    <div class="box-header with-border">
        <div class= "col-md-12 callout callout-info">
        <h5><b>Control de Placa Dento Bacteriana</b></h5>
    </div>
    </div>
    <div class="col-md-10"  *ngIf="info_paciente">
      <!-- {{info_paciente|json}} -->
      <label for="">Estás atendiendo a: {{info_paciente.NombreP+" "+info_paciente.PaternoP}}</label>
    </div>
     
         <form action="" #formupla="ngForm" (ngSubmit)="onSubmit(formupla)"> 
            
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
        <table class="table table-bordered">
            <thead>
              <tr class="bg-primary">
                <th scope="col">Sesiones</th>
                <th scope="col">1a</th>
                <th scope="col">2a</th>
                <th scope="col">3a</th>
                <th scope="col">4a</th>
                <th scope="col">5a</th>
                <th scope="col">6a</th>
                <th scope="col">Final</th>
                
              </tr>
            </thead>
            <tbody>
              
              <tr class="bg-success">
                <td>% Placa</td>
                <td><input style="text-align:center; width: 100%" type="text" class="form-control" placeholder="..." name="a1t" #a1ttp="ngModel" [(ngModel)]="formcplaca.a1"></td>
                <td><input style="text-align:center; width: 100%" type="text" class="form-control" placeholder="..." name="a2t" #a2ttp="ngModel" [(ngModel)]="formcplaca.a2"></td>
                <td><input style="text-align:center; width: 100%" type="text" class="form-control" placeholder="..." name="a3t" #a3ttp="ngModel" [(ngModel)]="formcplaca.a3"></td>
                <td><input style="text-align:center; width: 100%" type="text" class="form-control" placeholder="..." name="a4t" #a4ttp="ngModel" [(ngModel)]="formcplaca.a4"></td>
                <td><input style="text-align:center; width: 100%" type="text" class="form-control" placeholder="..." name="a5t" #a5ttp="ngModel" [(ngModel)]="formcplaca.a5"></td>
                <td><input style="text-align:center; width: 100%" type="text" class="form-control" placeholder="..." name="a6t" #a6ttp="ngModel" [(ngModel)]="formcplaca.a6"></td>
                <td><input style="text-align:center; width: 100%" type="text" class="form-control" placeholder="..." name="totalt" #totaltp="ngModel" [(ngModel)]="formcplaca.total"></td>
              </tr>
            </tbody>
          </table>
    <!-- /.content-wrapper -->
              <!-- /.content -->
              <button type="submit">Guardar</button>

        </form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </section>
</div>

